.apt-menu_button{
    width: auto;
}

.apt-prompt-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid var(--SmartThemeBorderColor);
    background-color: var(--SmartThemeBlurTintColor);
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

.apt-prompt-item {
    display: flex;
    align-items: center;
    padding: 3px 5px;
    cursor: pointer;
}

.apt-prompt-item:hover {
    background-color: var(--SmartThemeHoverColor);
}

.apt-prompt-item label {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    margin: 0; /* Override potential global margin */
    user-select: none;
}

.apt-prompt-item input[type="checkbox"] {
    margin-right: 8px;
}
